.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: blueviolet;
    font-family: monospace;
    font-size: 1.5rem;
    
    
}
.container {
    display: block;
    margin: 60px auto;
    text-align: center;
    font-size: 30px;
    width: 80vw;
    background-color: #f0ead6;
    padding-top: 20px;
  }

.answerBtn{

    color: blueviolet;
    font-size: 40px;
}

header {

    text-align: center;
}
#subheader {
    text-align: center;



}
.answers {

    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
   
}

#answerScore {
    display: block;
    border-top: gray;
    border-style: groove;
    width: 100px;
    text-align: center;
    height: 100px;

}
#listAnswers{

list-style-type: none;
}

