.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: blueviolet;
    font-family: monospace;
    font-size: 1.5rem;
    
    
}
    
header {

    text-align: center;
}
#subheader {
    text-align: center;



}
.answers {

    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}